@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Animations */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-in {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

iframe {
    position: absolute;
    height: 100%, !important;
    width: 100% !important;
    transform: translateX(-500px);
}
